<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
charset=windows-1252">
<TITLE>1,6mm ML4</TITLE>
</HEAD>
<BODY LANG="en-EN" DIR="LTR" BGCOLOR="#ffffff" TEXT="#1e1e1e">
<BR/>
<P>
<H4>Mikrodust Standard 1.6mm 4-layer 150x100mm PCB Board.</H4></P>
<P>
<IMG SRC="Mikrodust-1.6mm-ML4.png" NAME="Mikrodust-1.6mm-ML4" ALIGN=BOTTOM BORDER=0><BR>
</P>
<BR/>
<P>
The PCB board is setup using Wurth standard 4-layers stackup.
</P>
<P>
<IMG SRC="en_basic4_ml4_163_35_2v13.png" NAME="Mikrodust-1.6mm-ML4" ALIGN=BOTTOM BORDER=0><BR>
</P>
</BODY>
</HTML>
